<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djq.springGarden.mapper.PropertyvalueMapper">
  <resultMap id="BaseResultMap" type="com.djq.springGarden.entity.Propertyvalue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="productId" />
    <result column="pt_id" jdbcType="INTEGER" property="propertyId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>